@font-face {
    font-family: RioGrande;
    src: url("fonts/rio_grande/RioGrande%20Striped.ttf");
}

@font-face {
    font-family: CarnevaleeFreakshow;
    src: url("fonts/carnevalee_freakshow/Carnevalee%20Freakshow.ttf");
}

@font-face {
    font-family: LosBanditos;
    src: url("fonts/ifc_los_banditos/IFC%20LOS%20BANDITOS.ttf");
}

@font-face {
    font-family: TheDeadSaloon;
    src: url("fonts/the_dead_saloon/thedeadsaloon-Regular.ttf");
}

@font-face {
    font-family: Western;
    src: url("fonts/western/WEST____.TTF");
}

body {
    background-image: url("images/yellow_vertical_stripes_background_seamless.jpg");
}

#logo {
    margin-left: 3%;
    margin-top: 2%;
}

#headTitle {
    font-family: RioGrande;
    font-size: 6em;
    float: right;
    margin-right: 5%;

}
#headTitle>a{
    text-decoration: none;
    color: red;
}

#headTitle:hover{
    text-shadow: 3px 3px 5px #ffffff;
}

main {
    margin-top: 2%;
    margin-left: 27%;
    margin-right: 50%;
    margin-bottom: 3%;
}

main>button{
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 52%;
    margin-right: 52%;
    padding: 3% 35%;
    background: #fff008;
    border-radius: 30px;
    border: 1px solid red;
    box-shadow: 0 8px 0 #666666;
}

main>button>a{
    text-decoration: none;
    color: #ffffff;
    font-family: CarnevaleeFreakshow;
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 0 0 7px #000000;
}

main>button:hover{
    margin-bottom: 0;
    margin-top: 4%;
    box-shadow: 0 4px 0 #666666;
    background: #ffdc23;
}

main>button>a:hover{
    text-shadow: 1px 1px 10px #fc070d;
    color: rgba(255, 0, 0, 0.74);
}

/*CANVAS*/

canvas {
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 1;
    width: 600px;
    height: 360px;
}

#ctrls{
    font-family: LosBanditos;
    color: #ffffff;
    font-size: 1.3em;
    width: 610px;
    height: 50px;
    text-shadow: 1px 1px 10px #000000;
}

#controls {
    color: #ff0000;
}