@font-face {
    font-family: RioGrande;
    src: url("fonts/rio_grande/RioGrande%20Striped.ttf");
}

@font-face {
    font-family: CarnevaleeFreakshow;
    src: url("fonts/carnevalee_freakshow/Carnevalee%20Freakshow.ttf");
}

body {
    background-image: url("images/yellow_vertical_stripes_background_seamless.jpg");
}

#logo {
    margin-left: 3%;
    margin-top: 2%;
}

#headTitle {
    font-family: RioGrande;
    font-size: 6em;
    color: red;
    float: right;
    margin-right: 10%;
}

main {
    margin-top: 5%;
    margin-left: 27%;
    margin-right: 50%;
    margin-bottom: 5%;
}

main>button{
    margin-top: 3%;
    margin-left: 52%;
    margin-right: 52%;
    padding: 3% 35%;
    background: #fff008;
    border-radius: 30px;
    border: 1px solid red;
    box-shadow: 0 8px 0 #666666;
}

main>button>a{
    text-decoration: none;
    color: #ffffff;
    font-family: CarnevaleeFreakshow;
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 0 0 7px #000000;
}

main>button:hover{
    margin-top: 4%;
    background: #ffdc23;
    box-shadow: 0 4px 0 #666666;
}

main>button>a:hover{
    text-shadow: 1px 1px 10px #fc070d;
    color: rgba(255, 0, 0, 0.74);
}

footer{
    margin-left: 40%;
    margin-right: 40%;
}
